/* work sens font added there */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work_sens_font{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style added */
.display_flex{
    display: flex;
}

.color_gray{
  color: #424242;
}

.text_light_gray{
  color: #727272;
}

.bg_light{
  background-color: rgba(192, 255, 14, 0.1);
}


/* header  style added */


/* navber related style */

main{
  max-width: 1140px;
  margin: 0 auto;
}

main > section{
  margin-top: 130px;
}




.navber{
justify-content: space-between;
align-items: center;
}

.brand{
  font-size: 3rem;
}
.nav_items{
  list-style: none;
  margin-right: 30px;
}
.nav_link{
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;
}

.navber,.banner{
max-width: 1140px;
margin: 0 auto;
}

/* banner_container style  */
.banner_container{
  max-width: 850px;
  margin:0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner_title{
  font-size: 4rem;
  font-weight: 700;
}

.btn_prymari{
  background-color: #FF900E;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 21px 25px;
  border: none;
  border-radius: 8px;
}

.banner_img{
  width: 100%;
}

.temas{
  display: flex;
  align-items: center;
  gap: 73px;
}

.tims_imgs_container{
  display: grid;
  grid-template-columns: repeat(2 ,1fr);
  gap: 24px;
}



/* span aria  */
.our_features_containner{
  margin-left: 20px;
}

.text_light_gray{
 
  color: #727272;
}
/* 88888888888 */
.features_titals{
  font-size: 2.8rem;
  font-weight: 700;
  /* 888888888888 */


}
#Quick_list{
  font-weight: 500;
}

.quick_to{
  color: #131313;
}

.quick_feature{
  color: #FF900E;
  font-weight: 700;
}



/* some fact_card related style  */
.facts_container{
  display: grid;
  grid-template-columns: repeat(4, 1fr);

}

.fact_discripation{
  max-width: 542px;
}

.fact_card{
  border: 1px solid #FF900E;
  width: 240px;
  height: 240px;
  border-radius: 8px;

  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
}
 .fact_number{
  font-size: 2.8rem;
  color: #424242;
  font-weight: 600;
  margin-top: 5px;
  margin-bottom: 10px;
}

.fact_name{
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 10px;

}






/* responsive media quary */

@media screen and (max-width:576px) {
  .navber,
  .temas,
  .nav_links{
    flex-direction: column;

  }
  .tims_imgs_container{
    grid-template-columns: repeat(1,1fr);
   
  }
}


/* mudems devie responsiv*/

@media screen and (min-width:576px) and (max-width: 992px){
  .temas{
    flex-direction: column;
  }
  .our_features_containner{
    margin: 50px auto;
  }
  
}


