/* work sens font added there */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

.work_sens_font{
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared style added */
.display_flex{
    display: flex;
}

.color_gray{
  color: #424242;
}

.text_light_gray{
  color: #727272;
}

.bg_light{
  background-color: rgba(192, 255, 14, 0.1);
}


/* header  style added */


/* navber related style */
.navber{
justify-content: space-between;
align-items: center;
}

.brand{
  font-size: 3rem;
}
.nav_items{
  list-style: none;
  margin-right: 30px;
}
.nav_link{
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
}

.navber,.banner{
max-width: 1140px;
margin: 0 auto;
}

/* banner_container style  */
.banner_container{
  max-width: 850px;
  margin:0 auto;
  text-align: center;
  margin-bottom: 50px;
}

.banner_title{
  font-size: 4rem;
  font-weight: 700;
}

.btn_prymari{
  background-color: #FF900E;
  color: #FFFFFF;
  font-size: 1.2rem;
  font-weight: 6600;
  padding: 21px 25px;
  border: none;
  border-radius: 8px;
}

.banner_img{
  width: 100%;
}

@media screen and (max-width:576px) {
  .navber, .nav_links{
    flex-direction: column;

  }
}